.appContainer {
  display: flex;
  flex-direction: column;
  margin: 1.25em;
}

.infoBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1em 0 0 0;
  
}

.gameBoard {
  display: flex;
  justify-content: center;
  margin: 0.5em 0 1em 0;
}