.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
  margin: 1.25em;
}

.right {
  display: flex;
  flex-direction: column;
  margin: 1.25em 5em 1.25em 1.25em;
}

.boardHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1em 0 0 0;
}

.boardContainer {
  display: flex;
  justify-content: center;
  margin: 0.5em 0 1em 0;
}

.boardFooterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.settingsContainer {

}