.boardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boardHeaderGameTitleLabel {
  margin: 0 1em 0 0;
  font-family: sans-serif;
  font-weight: normal;
}

.boardHeaderCurPlayerLabel {
  margin: 0 0.5em 0 1em;
  font-family: sans-serif;
  font-weight: lighter;
}
