.mctsSimulationsSelector {
  display: flex;
  flex-direction: row;
  margin: 1.5em auto;
}

.mctsSimulationsSelectorLabel {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1.75em;
  margin: auto 0;
}

.mctsSimulationsSelectorInput {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
  max-width: 75px;
  margin: auto 0.5em;
}