.resetGameComponent {
  display: flex;
  flex-direction: row;
  margin: 0.75em auto;
}

.resetGameComponentLabel {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1.75em;
  margin: auto 0;
}

.resetGameComponentButton {
  margin: auto 0.5em;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1.25em;
}